<%-include('../Partials/userheader')-%>

	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">Checkout<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/index">Home</a></li>
					<li class="breadcrumb-item"><a href="/category">Shop</a></li>
					<li class="breadcrumb-item"><a href="/cart">Shopping Cart</a></li>
					<li class="breadcrumb-item active" aria-current="page">Checkout</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="checkout">
				<div class="container">
					<div class="checkout-discount">
						<form action="#">
							<input type="text" class="form-control" required id="checkout-discount-input">
							<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here
									to enter your code</span></label>
						</form>
					</div><!-- End .checkout-discount -->


					<form action="#" class="">
						<div class="row">

							<div class="col-lg-9">
								<p>The following addresses will be used on the checkout page by default.</p>

								<div class="row">

									<%if(user.address[0].houseno !==" " ){%>
										<% for (var i=0; i <user.address.length; i++ ) { %>
											<div class="col-lg-4">
												<div class="card card-dashboard">
													<div class="card-body">
														<h3 class="card-title">Billing Address</h3>
														<!-- End .card-title -->

														<p>
															<%=user.address[i].name%><br>
																<%=user.address[i].houseno%><br>
																	<%=user.address[i].state%><br>
																		<%=user.address[i].street%><br>
																			<%=user.address[i].pincode%><br>
																				<%=user.address[i].phone%>
																					<%=user.address[i].alternatenumber%>
																						<%=user.address[i].email%><br>

																							<a href="#">Edit <i
																									class="icon-edit"></i></a>
														</p>
														<div class="form-check">
															<input class="form-check-input"
																value="<%=user.address[i]._id%>" type="radio"
																name="flexRadioDefault" id="flexRadioDefault1" checked>
														</div>
													</div><!-- End .card-body -->
												</div><!-- End .card-dashboard -->
											</div><!-- End .col-lg-6 -->




											<% } %>

												<%}else{%>


													<div class="col-lg-9">
														<div class="card card-dashboard">
															<div class="card-body">
																<h3 class="card-title">Billing Address</h3>
																<!-- End .card-title -->

																<a href="#tab-newaddress" data-toggle="tab"
																	id="addAddress" role="tab"
																	aria-controls="tab-address" aria-selected="false">
																	<svg xmlns="http://www.w3.org/2000/svg" width="16"
																		height="16" fill="currentColor"
																		class="bi bi-plus-lg" viewBox="0 0 16 16">
																		<path fill-rule="evenodd"
																			d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
																	</svg>
																</a>


															</div><!-- End .card-body -->
														</div><!-- End .card-dashboard -->
													</div><!-- End .col-lg-6 -->



													<%} %>

								</div>
							</div>
							<aside class="col-lg-3">
								<div class="summary">
									<h3 class="summary-title">Your Order</h3>
									<!-- End .summary-title -->

									<table class="table table-summary" style="width: 100%;">
										<thead>
											<tr>
												<th style="width: 40%;" colspan="2">Product</th>
												<th style="width: 20%;"></th>
												<th style="width: 40%;">Total</th>
											</tr>
										</thead>
										<tbody>

											<% for (var i=0; i < cart.product.length; i++) { %>
												<tr>
													<td colspan="2"><a href="#">
															<%=cart.product[i].product_id.name%>
														</a></td>
													<td style="text-align: center;"><a href="#">x &nbsp;<%=
																cart.product[i].quantity %></a></td>
													<td>$<%= cart.product[i].quantity * cart.product[i].product_id.price
															%>
													</td>
												</tr>
												<% } %>

													<% let grandPrice=0%>
														<% for (var i=0; i < cart.product.length; i++) { %>

															<% grandPrice=grandPrice + (cart.product[i].quantity)*
																(cart.product[i].product_id.price)%>

																<% } %>
																	<tr class="summary-subtotal">
																		<td colspan="2">Subtotal:</td>
																		<td></td>
																		<td id="grandPrice">&#8377;<%=grandPrice%>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Shipping:</td>
																		<td></td>
																		<td>Free shipping</td>
																	</tr>
																	<tr class="summary-total">
																		<td colspan="3">Total:</td>
																		<td>
																			<h4>&#8377;<%=grandPrice%>.00</h4>
																		</td>
																	</tr>
										</tbody>
									</table>

									<div class="accordion-summary" id="accordion-payment">
										<div class="card">
											<div class="card-header" id="heading-1">
												<h2 class="card-title">
													<a role="button" data-toggle="collapse" href="#collapse-1"
														aria-expanded="true" aria-controls="collapse-1">
														Razor Payment
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
												data-parent="#accordion-payment">
												<div class="card-body">
													Make your payment directly into our bank
													account. Please use your Order ID as the payment
													reference. Your order will not be shipped until
													the funds have cleared in our account.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-2">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-2" aria-expanded="false"
														aria-controls="collapse-2">
														Check payments
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-2" class="collapse" aria-labelledby="heading-2"
												data-parent="#accordion-payment">
												<div class="card-body">
													Ipsum dolor sit amet, consectetuer adipiscing
													elit. Donec odio. Quisque volutpat mattis eros.
													Nullam malesuada erat ut turpis.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-3">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-3" aria-expanded="false"
														aria-controls="collapse-3">
														Cash on delivery
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-3" class="collapse" aria-labelledby="heading-3"
												data-parent="#accordion-payment">
												<div class="card-body">Quisque volutpat mattis eros.
													Lorem ipsum dolor sit amet, consectetuer
													adipiscing elit. Donec odio. Quisque volutpat
													mattis eros.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-4">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-4" aria-expanded="false"
														aria-controls="collapse-4">
														PayPal <small class="float-right paypal-link">What is
															PayPal?</small>
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-4" class="collapse" aria-labelledby="heading-4"
												data-parent="#accordion-payment">
												<div class="card-body">
													Nullam malesuada erat ut turpis. Suspendisse
													urna nibh, viverra non, semper suscipit, posuere
													a, pede. Donec nec justo eget felis facilisis
													fermentum.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->

										<div class="card">
											<div class="card-header" id="heading-5">
												<h2 class="card-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														href="#collapse-5" aria-expanded="false"
														aria-controls="collapse-5">
														Credit Card (Stripe)
														<img src="assets/images/payments-summary.png"
															alt="payments cards">
													</a>
												</h2>
											</div><!-- End .card-header -->
											<div id="collapse-5" class="collapse" aria-labelledby="heading-5"
												data-parent="#accordion-payment">
												<div class="card-body"> Donec nec justo eget felis
													facilisis fermentum.Lorem ipsum dolor sit amet,
													consectetuer adipiscing elit. Donec odio.
													Quisque volutpat mattis eros. Lorem ipsum dolor
													sit ame.
												</div><!-- End .card-body -->
											</div><!-- End .collapse -->
										</div><!-- End .card -->
									</div><!-- End .accordion -->

									<button id="placeOrder" value="<%= cart._id%>" type="button"
										class="btn btn-outline-primary-2 btn-order btn-block">
										<span class="btn-text">Place Order</span>
										<span class="btn-hover-text">Proceed to Checkout</span>
									</button>
								</div><!-- End .summary -->
						</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
				</div>
			</div>
			<!-- End .row -->
			</form>



			<div class="tab-pane fade" id="tab-newaddress" role="tabpanel" aria-labelledby="tab-newaddress-link"
				hidden="until  found">

				<form action="#">

					<div class="row">

						<div class="col-sm-6">
							<label>Full Name</label>
							<!-- add address -->
							<input type="text" name="fullName" id="addaddressname" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">
							<label>house No/Name</label>
							<input type="text" name="house" id="addhouse" class="form-control" required>
						</div><!-- End .col-sm-6 -->

					</div>
					<div class="row">

						<div class="col-sm-6">
							<label>Street</label>
							<input type="text" name="street" id="addstreet" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">
							<label>State</label>
							<input type="text" name="state" id="addstate" class="form-control" required>
						</div><!-- End .col-sm-6 -->

					</div>
					<div class="row">

						<div class="col-sm-4">
							<label>Pincode</label>
							<input type="text" name="pincode" id="addpincode" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-4">
							<label>Phone</label>
							<input type="text" name="phone" id="addphone" class="form-control" required>
						</div><!-- End .col-sm-6 -->
						<div class="col-sm-4">
							<label>Alternate Phone</label>
							<input type="text" name="alternatePhone" id="addalternatePhone" class="form-control"
								required>
						</div><!-- End .col-sm-6 -->

					</div>

					<button type="submit" class=" AddAdressbtn btn btn-outline-primary-2">
						<span>ADD ADDRESS</span>
						<i class="icon-long-arrow-right"></i>
					</button>
				</form>
			</div><!-- .End .tab-pane -->


			<button id="rzp-button1">Pay</button>



		</div><!-- End .container -->
		</div><!-- End .checkout -->
		</div><!-- End .page-content -->

	</main><!-- End .main -->

	<!-- Razor Payment JScript -->
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"
		integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.9/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
		integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script>
		$(document).ready(function () {
			$('#placeOrder').on('click', function () {
				// e.preventDefault();
				 
				// $(this).prop('disabled', true);

				let cartId = $('#placeOrder').val();
				let address = $('.form-check-input:checked').val();
				let grandPriceText = $('#grandPrice').text();
				let grandPrice = parseFloat(grandPriceText.replace(/[^\d.]/g, ''));
				let paymentmethod = $('.accordion-summary .card-header .card-title a[aria-expanded="true"]').text().trim();

				const data = {
					cartId: cartId,
					address: address,
					grandPrice: grandPrice,
					paymentmethod: paymentmethod
				};

				if (paymentmethod === "Razor Payment") {
					
				const data = {
					cartId: cartId,
					address: address,
					grandPrice: grandPrice,
					paymentmethod: paymentmethod
				};

					 $.ajax({
						url: `/order`,
						method: 'POST',
						data: data,
						success:  function (response) {	
							console.log(response);
								 razorpay(response)
								
						}
					})


				}

				else {
					const data = {
						cartId: cartId,
						address: address,
						grandPrice: grandPrice,
						paymentmethod: paymentmethod
					}
					$.ajax({
						url: `/checkout`,
						method: 'POST',
						data: data,
						success: function (response) {
							if (response.message == "ordered successfully") {
								const orderid = response.orderdb_Id
								console.log(orderid)
								window.location.href = '/success?orderid=' + orderid
							}
						}
					})
				}


				//function for Razor pay
				 function razorpay(Response) {
				
					console.log(Response);
					console.log("Razor function started");
					console.log(Response.order);
					console.log(Response.amount);
					console.log(Response.order.id);
					console.log(Response.order.amount);

					const orderid= Response.orderdb_Id
					console.log(orderid)
					
					
					var options = {
						"key": "rzp_test_c9kyL8vciS4dlx",
						"amount": "<%=Response.amount%>",
						"currency": "INR",
						"name": "Kenvill",

						"order_id": Response.order.id,
						"handler":function(response){

							window.location.href = '/success?orderid=' + orderid
						}
							/* alert(response.razorpay_payment_id);
							alert(response.razorpay_order_id);
							alert(response.razorpay_signature) */
						,

						"theme": {
							"color": "#3399cc"
						}
					};

					 var rzp1 = new Razorpay(options);
					 rzp1.open();

				}

			});
		});
	</script>




	<%-include('../Partials/userfooter')-%>