<%-include("../Partials/userheader")-%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								
									<!-- dashboard -->
									<li class="nav-item">
								        <a class="otherButton nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    
									<!-- Orders -->
									<li class="nav-item">
								        <a class=" otherButton nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								   
									<!-- my Cart -->
									<li class="nav-item">
								        <a class="otherButton nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">My Cart</a>
								    </li>

									<!-- My Wishlist -->
								    <li class="nav-item">
								        <a class="otherButton nav-link" id="tab-wishlist-link" data-toggle="tab" href="#tab-wishlist" role="tab" aria-controls="tab-wishlist" aria-selected="false">My wishlist</a>
								    </li>

									<!-- Address -->
								    <li class="nav-item">
								        <a class="otherButton nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
									<!-- add new address -->
								 
								<li class="nav-item">
								        <a class="otherButton nav-link" id="tab-newaddress-link" data-toggle="tab" href="#tab-newaddress" role="tab" aria-controls="tab-address" aria-selected="false">Add Adresses</a>
								    </li>

									<!-- Account Details -->
								    <li class="nav-item">
								        <a class="otherButton nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>

									<!-- Signout -->
								    <li class="nav-item">
								        <a class="nav-link" href="#">Sign Out</a>
								    </li>

								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">


								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-bold text-dark"><%=user.name%></span>  
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

<!-- -------------------------------------Order Tab-------------------------------------------------------- -->

									<div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
										
										<% if (orderlist) { %>
										<div class="table-responsive">
											<table class="table table-hover myTable">
												<thead>
													<tr>
														<th>Product</th>
														<th>Name</th>
														<th>Price</th>
														<th>Quantity</th>
														<th>Total</th>
														<th>Mode Of Payment</th>
														<th>Date</th>
														<th>Action</th>
													</tr>
												</thead>
												 <tbody>              
													
													<% for (const order of orderlist) { %>
														<% for (const product of order.orderProducts) { %>
													<tr>
														<td> <img src="upload/<%= product.image[0] %>" class="img-sm img-thumbnail" alt="Item"></td>
														<td> <h6 class="mb-0"> <%= product.name %></h6> </td>
														<td> <span > ₹ <%= product.price %></span></td>
														<td><span class=><%= product.quantity %></span></td>
														<td><span class=>₹<%= order.grandtotal * product.quantity %></span></td>
														<td><span><%= order.paymentmethod %></span></td>
														<td><span><%= new Date(order.purchased).toLocaleDateString()%></span></td>
														<!-- <td><button class="cancelbtn"  type="submit">Cancel/Return</button></td> -->
														<% if (order.status=="req for Return") { %>
														<td hidden class="remove-col"><button hidden data-orderid="<%= order._id %>" data-id="<%= order._id %>" class="cancelbtn btn-remove">Cancel/Return</button></td>
														<% }
														else if(order.status=="Cancelled"){%>
															<td style="text-align: center;" class="remove-col"><button style="background-color: blue; color: beige;" >Returned</button></td>

															<%}
														else{ %>
															<td style="text-align: center; font-size: 9px;"  class="remove-col"><button style="background-color: rgb(255, 0, 0); color: beige;"  data-orderid="<%= order._id %>" data-id="<%= order._id %>" class="cancelbtn ">Cancel/Return</button></td>

														<%}%>



														</tr>
														<% } %>
														<% } %>
												</tbody>
												
											</table>
								
										</div>
										<% } else { %>
											<p>No Orders yet</p>
											<% } %>
									  </div><!-- .End .tab-pane -->


								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<%if(cart){%>
										
										
										
										<div class="cart">
										<div class="container">
										<div class="row">
										<div class="col-lg-9">
											<table class="table table-cart table-mobile">
												<thead>
													<tr>
														<th>Product</th>
														<th>Price</th>
														<th>Quantity</th>
														<th>Total</th>
														<th></th>
													</tr>
												</thead>
			
												<tbody>
													
														
													
													<% for (var i =0; i <cart.product.length;  i++ ) { %>
													<tr>
														<td class="product-col">
															<div class="product">
																<figure class="product-media">
																	<a href="#">

																		
																		<img src="upload/<%=cart.product[i].product_id.image[0]%>" alt="Product image">
																	</a>
																</figure>
			
																<h3 class="product-title">
																	<a href="#"><%=cart.product[i].product_id.name%></a>
																</h3><!-- End .product-title -->
															</div><!-- End .product -->
														</td>
														<td class="price-col">&#8377;<%=cart.product[i].product_id.price%></td>
														<td class="quantity-col">
															<div class="cart-product-quantity">
																<div class="row" style="border: 5px;border-color: black;">
																	<button class="minus" style="border: 0;">-</button>
																	<input type="button" data-id="<%= cart.product[i].product_id._id %>" class="qty" style="width: 40px; border: 0;" value="<%= cart.product[i].quantity %>">
																	<button class="plus" style="border: 0;">+</button>
																</div>
															</div><!-- End .cart-product-quantity -->
														</td>
														<td class="total-col"><%=cart.product[i].product_id.price*cart.product[i].quantity %></td>

														<td class="remove-col"><button data-cartid="<%= cart._id %>" data-id="<%= cart.product[i].product_id._id %>" class="removebtn btn-remove"><i class="icon-close"></i></button></td>
													</tr>
												<% } %>
												<div class="cart-bottom">
												<a href="/cart" class="btn btn-outline-dark-2"><span>CONTINUE TO CHECKOUT</span><i class="icon-refresh"></i></a>
												</div><!-- End .cart-bottom -->
												<%}else{%>


												<p>Cart is empty</p>
								    			<a href="/category" class="btn btn-outline-primary-2"><span>GO shopping</span><i class="icon-long-arrow-right"></i></a>

													<%} %>

												</tbody>
											</table><!-- End .table table-wishlist -->
			
											
										</div><!-- End .col-lg-9 -->
									</div>
									</div>
									</div>
								    </div><!--End of cart .tab-pane -->
								   
									<!-- my wishlist -->
									
									<div class="tab-pane fade" id="tab-wishlist" role="tabpanel" aria-labelledby="tab-wishlist-link">
								    	
										<%if(wishlist){%>
										<div class="cart">
										<div class="container">
										<div class="row">
										<div class="col-lg-9">
											<table class="table table-cart table-mobile">
												<thead>
													<tr>
														<th>Product</th>
														<th>Price</th>
														<th>Quantity</th>
														<th>Total</th>
														<th></th>
													</tr>
												</thead>
			
												<tbody>
													<% for (var i =0; i < wishlist.product.length; i++ ) { %>	
													
													<tr>
														<td class="product-col">
															<div class="product">
																<figure class="product-media">
																	<a href="#">
																		<img src="upload/<%=wishlist.product[i]?.image[0]%>" alt="Product image">
																	</a>
																</figure>
			
																<h3 class="product-title">
																	<a href="#"><%=wishlist.product[i].name%></a>
																</h3><!-- End .product-title -->
															</div><!-- End .product -->
														</td>
														<td class="price-col">&#8377; <%=wishlist.product[i].price%></td>
														<td class="quantity-col">
															<div class="cart-product-quantity">
																<input type="button"  class="quantity" style="width: 40px; border: 0;" value="1">															</div><!-- End .cart-product-quantity -->
														</td>
														<td class="total-col">&#8377; <%=wishlist.product[i].price%></td>
														<td class="remove-col"><button data-wishlistid="<%= wishlist._id %>" data-id="<%= wishlist.product[i]._id %>" class="wishlistRemoveBtn btn-remove"><i class="icon-close"></i></button></td>
													</tr>
													<% } %>
													<%}else{%>
											
													<p>Your wishlist is empty</p>
													<p>Add your favourite item to your wishlist, So that you can but it later</p>
													<a href="/category" class="btn btn-outline-primary-2"><span>GO shopping</span><i class="icon-long-arrow-right"></i></a>
	
														<%} %>
													
												</tbody>
											</table><!-- End .table table-wishlist -->
			
											<div class="cart-bottom">
																								
												<a href="/cart" class="btn btn-outline-dark-2"><span>CONTINUE TO CHECKOUT</span><i class="icon-refresh"></i></a>
											</div><!-- End .cart-bottom -->
										</div><!-- End .col-lg-9 -->
									</div>
									</div>
									</div>
								    </div><!-- .End .tab-pane -->

								   
									<!-- address TAB -->
									<div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
																			
											
											

										<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
									
									
											<%if(user.address[0].houseno !== " "){%>
											
											<% for (var i =0; i <user.address.length;  i++ ) { %>
								    		<div class="col-lg-4">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address (<%=i+1%>)</h3><!-- End .card-title -->

														<p><%=user.address[i].name%><br>
															<%=user.address[i].houseno%><br>
															<%=user.address[i].state%><br>
															<%=user.address[i].street%><br>
															<%=user.address[i].pincode%><br>
															<%=user.address[i].phone%>
															<%=user.address[i].alternatenumber%>
															<%=user.address[i].email%><br>
															<a class="nav-link" id="tab-add-link" style="padding-left: 0;" data-toggle="tab" href="#tab-add" role="tab" aria-controls="tab-add" aria-selected="false">Edit<i class="icon-edit"></i></a>
														
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		<!-- End .col-lg-6 -->
											
											<div class="tab-pane fade" id="tab-add" role="tabpanel" aria-labelledby="">
												
                                                <form action="/editaddress" method="post">
                                                   
                                                    <div class="row">
                                                        
                                                        <div class="col-sm-6">
                                                         <label>name <span style="color: red;"> *</span></label>
                                                        <input type="text" name="name" class="form-control" required>
                                                        <input type="text" name="addressid" value="<%=user.address[i]._id%>" class="form-control" required hidden>
                                                        </div><!-- End .col-sm-6 -->
        
                                                        <div class="col-sm-6">
                                                            <label>houseno <span style="color: red;"> *</span></label>
                                                            <input type="text" name="houseNo" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
                                                    <div class="row">
                                                       
                                                        <div class="col-sm-6">
                                                         <label>state <span style="color: red;"> *</span></label>
                                                        <input type="text" name="state" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
        
                                                        <div class="col-sm-6">
                                                            <label>street <span style="color: red;"> *</span></label>
                                                            <input type="text" name="street" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                        <div class="col-sm-6">
                                                            <label>phone <span style="color: red;"> *</span></label>
                                                            <input type="text" name="phone" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                        
                                                    </div><!-- End .row -->
                                                    <div class="row">
                                                       
        
                                                        <div class="col-sm-6">
                                                            <label> Postal/Zipcode <span style="color: red;"> *</span></label>
                                                            <input type="text" name="pincode" class="form-control" required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
        
                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>SAVE CHANGES</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </form>
                                            </div>

								</div>

											<% } %>
								    		

											<%}else{%>


												<div class="col-lg-6">
													<div class="card card-dashboard">
														<div class="card-body">
															<h3 class="card-title">Billing Address</h3><!-- End .card-title -->
	
															<a href="#tab-newaddress" data-toggle="tab" id="addAddress" role="tab" aria-controls="tab-address" aria-selected="false">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
																<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
															  </svg>
															</a>
															      
														
														</div><!-- End .card-body -->
													</div><!-- End .card-dashboard -->
												</div><!-- End .col-lg-6 -->
	


												<%} %>
								    	<!-- add new address -->
													
										</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#" >
			                				<div class="row">
			                					
			                				</div><!-- End .row -->

		            						<label>Name</label>
		            						<input type="text" value="<%=user.name%>" name="name" id="displayname" class="form-control" required readonly>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

		                					<label>Email address *</label>
		        							<input type="email" value="<%=user.email%>" name="email" id="email" class="form-control" required readonly>

		            					
		            						
											<div class="row">
											
												<div class="col-sm-6">
												<label>Full Name</label>
					<!-- first name -->    		<input type="text"   name="fullName" id="addressname" value="<%=user.address[0].name%>" class="form-control" required>
											</div><!-- End .col-sm-6 -->
											
											<div class="col-sm-6">
												<label>house No/Name</label>
					                   		<input type="text"   name="house" id="house" value="<%=user.address[0].houseno%>"  class="form-control" required>
											</div><!-- End .col-sm-6 -->
										     
										</div>
											<div class="row">
											
												<div class="col-sm-6">
												<label>Street</label>
					    		<input type="text" value="<%=user.address[0].street%>"   name="street" id="street" class="form-control" required>
											</div><!-- End .col-sm-6 -->
											
											<div class="col-sm-6">
												<label>State</label>
					    		<input type="text" value="<%=user.address[0].state%>"  name="state" id="state"  class="form-control" required>
											</div><!-- End .col-sm-6 -->
										     
										</div>
											<div class="row">
											
												<div class="col-sm-4">
												<label>Pincode</label>
					    		<input type="text"  name="pincode"  id="pincode" value="<%=user.address[0].pincode%>"  class="form-control" required>
								
								<input type="text"  name="addressid"  id="addressid" value="<%=user.address[0]._id%>"  class="form-control"  hidden>
					    		
											</div><!-- End .col-sm-6 -->
											
											<div class="col-sm-4">
												<label>Phone</label>
					    		<input type="text"   name="phone" id="phone" value="<%=user.address[0].phone%>" class="form-control" required>
											</div><!-- End .col-sm-6 -->
											<div class="col-sm-4">
												<label>Alternate Phone</label>
					   		<input type="text"  value="<%=user.address[0].alternatenumber%>" name="alternatePhone" id="alternatePhone" class="form-control" required>
											</div><!-- End .col-sm-6 -->
										     
										</div>

		                					<button type="submit" class=" updatebtn btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								  


		

									
									<!-- update address tab  -->
									
									<div class="tab-pane fade" id="tab-newaddress" role="tabpanel" aria-labelledby="tab-newaddress-link">
								    
										<form action="#" >
			                				    
											<div class="row">
											
												<div class="col-sm-6">
												<label>Full Name</label>
											<!-- add address -->    	
											<input type="text"   name="fullName" id="addaddressname"  class="form-control" required>
											</div><!-- End .col-sm-6 -->
											
											<div class="col-sm-6">
											<label>house No/Name</label>
					                   		<input type="text"   name="house" id="addhouse" class="form-control" required>
											</div><!-- End .col-sm-6 -->
										     
										</div>
											<div class="row">
											
												<div class="col-sm-6">
												<label>Street</label>
					    						<input type="text"   name="street" id="addstreet" class="form-control" required>
											</div><!-- End .col-sm-6 -->
											
											<div class="col-sm-6">
												<label>State</label>
					    						<input type="text"   name="state" id="addstate"  class="form-control" required>
											</div><!-- End .col-sm-6 -->
										     
										</div>
											<div class="row">
											
												<div class="col-sm-4">
												<label>Pincode</label>
					    						<input type="text"  name="pincode"  id="addpincode" class="form-control" required>
												
											</div><!-- End .col-sm-6 -->
											
											<div class="col-sm-4">
												<label>Phone</label>
					    						<input type="text"   name="phone" id="addphone"  class="form-control" required>
											</div><!-- End .col-sm-6 -->
											<div class="col-sm-4">
												<label>Alternate Phone</label>
					   							<input type="text"  name="alternatePhone" id="addalternatePhone" class="form-control" required>
											</div><!-- End .col-sm-6 -->
										     
											</div>

		                					<button type="submit" class=" AddAdressbtn btn btn-outline-primary-2">
			                					<span>ADD ADDRESS</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

		<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js "></script>


		<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
		
		<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
		

		<!-- toastr -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		
		<!-- Script Files -->	
 		<script src="Js/dashboardscript.js"></script>


        <%-include("../Partials/userfooter")-%>