
<div class="page-content">
              
    <div class="container" >
        <br>
        <%if(products.length>0){ %>
        <div class="dropdown cart-dropdown" style="width: min-content;"  >
            <button style="border:none;  " > <a style="font-size: medium;" href="#" class="dropdown-toggle" id="dropdown-button"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">  
                <i class="fa fa-filter"> </i> 
                Filter
                </a>
            
            </button> 
                <div class="dropdown-menu dropdown-menu-left">

                            <% categories.forEach(categories=>{%>
                                <div class="">
                                    <input type="checkbox"  class="filter-checkbox" id="<%-categories.name%>" onchange="filterProducts()">
                                    <label class="" for="<%- categories.name %>"><%-categories.name%></label>
                                </div><!-- End .custom-checkbox -->
                            <% }) %>
                </div><!-- End .dropdown-menu -->
            </div>
            <%} %>
<br>
        <%if(products.length>0){ %>

        <div class="row">
            <% products.forEach(products => { %>
            <div class="col-6 col-md-4 col-lg-3 product-item" data-category="<%- products.category_id.name %>"  >
                <div class="product product-3">
                    <figure class="product-media">
                        <span class="product-label">Sale</span>
                        <a href="/productopen?id=<%=products._id%>" type="submit" >
                            
                            <img src= "upload/<%=products.image[3]%>" alt="Product image" class="product-image">
                           
                        </a>

                        <div class="product-action-vertical">
                            <a href="" type="submit" class="addtowishlistbtn btn-product-icon btn-wishlist btn-expandable" data-productid="<%=products._id%>"><span>add to wishlist</span></a>
                            
                        </div><!-- End .product-action-vertical -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-action">
                            <!-- <form action="/addtocart?id=" method="post"> -->
                            <button  class="addtocartbtn btn-product btn-cart" data-productid="<%=products._id%>" style="border: hidden;background-color: rgb(255, 255, 255);" type="submit" ><span>add to cart</span></button>
                            <input type="hidden" id="quantity" name="quantity" value="1">
                             <!-- </form> -->
                        </div><!-- End .product-action -->
                        <div class="product-cat">
                            <a href="#"  style="text-decoration: none;"><%- products.category_id.name %></a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a style="text-decoration: none;" href=""><%- products.name %></a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">₹ <%- products.price %></span>
                            <!-- <span class="old-price">$84.00</span> -->
                        </div><!-- End .product-price -->
                    </div><!-- End .product-body -->

                    <div class="product-footer">
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="upload/<%=products.image[0]%>" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="upload/<%=products.image[1]%>" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="upload/<%=products.image[2]%>" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-footer -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-3 -->


            <% }) %>
        </div><!-- End .row -->

        <%}else{%>
            <div class="card card-dashboard">
                <div class="card-body">
                    <h3>No Product Availble</h3>

                    </div>
                    </div>
            <%}%>
       
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if(currentpage>1){%>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentpage-1%>"><i class="material-icons md-chevron_right"></i>Previous</a></li>
                        <% }%>
                        <% for(let i=1;i<=totalpages;i++){ %>
                            
                        <li class="page-item active"><a class="page-link" href="?page=<%=i%>"> <%=i%> </a></li>
                          
                       <% } %>
                       <% if(currentpage<totalpages){%>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentpage+1%>"><i class="material-icons md-chevron_right"></i>Next</a></li>
                        <% }%>
                    </ul>
                </nav>
            </div>
    </div><!-- End .container -->
    <br>
   
</div><!-- End .page-content -->